.container {
    position: relative;
    width: 30%;
    height: auto; /* Adjusted to auto to accommodate dynamic content */
    display: flex;
    flex-direction: column; /* Changed to column to stack items vertically */
    align-items: center;
    justify-content: center;
}

.bar {
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
}

.bar div {
    flex: 1;
}

.labels {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Match the width of the bar */
    margin-top: 8px; /* Adjust spacing as needed */
    z-index: 1; /* Ensures labels are above other elements */
}

.labels span {
    text-align: center;
    width: 20%; /* Each label occupies 1/5th of the total width */
    color: #000; /* Black text for better visibility */
    font-weight: bold; /* Bold text for emphasis */
}

.red { background-color: #ff0000; }
.orange { background-color: #ff9900; }
.yellow { background-color: #ffff00; }
.green { background-color: #66ff66; }
.blue { background-color: #0066ff; }

.cursor {
    position: absolute;
    width: 40px; /* Increased size */
    height: 40px; /* Increased size */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff00;
    cursor: grab;
    z-index: 2; /* Cursor above labels */
}

.emoji {
    font-size: 24px; /* Increased size */
    pointer-events: none;
}
